*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    width: 100%;
  background-color: #3362af; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;

}
.logo li {
  font-size: 20px; 
  color: #93c5fd; 
}

.logo h1 {
  font-size: 28px;
  margin: 0;
  position: relative;
  top: 2px; 
}
#toggleBookmarks {
  background-color: #eff1f3;
  color: rgb(41, 33, 146);
  border:transparent;
  padding: 8px 8px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    text-align: center;
}


.icon {
    width: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 15px #6366f1);
}
.icon {
    filter: drop-shadow(0 0 25px #8b5cf6);
     animation: float 3s ease-in-out infinite;

}


@keyframes float {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 span {
    color: #8b5cf6;
}
p {
    color: #9ca3af;
    margin-bottom: 30px;
}


.search-box {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 350px;
    margin: auto;
}
.icon-search{
    position: absolute;
    top: 44%;
    left: 49.30%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2rem;
    color: black;
    pointer-events: none;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.search-box button {
    background: linear-gradient(45deg, #6366f1, #8b5cf6);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    transform: scale(1.1);
}
:root {
    --bg: #0f172a;
    --card: #1e293b;
    --repo: #334155;
    --text: #ffffff;
    --subtext: #94a3b8;
    --accent: #3b82f6; 
    --btn: #f59e0b; 
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.info h2 {
    margin: 0;
}

.username {
    color: var(--subtext);
}

.bio {
    margin: 5px 0;
}

.stats {
    display: flex;
    gap: 30px;
    margin: 10px 0;
}

.stats span {
    color: var(--subtext);
    font-size: 14px;
}

.stats h3 {
    margin: 0;
    color: var(--accent);
}

.link {
    color: var(--accent);
    text-decoration: none;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--btn);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.title {
    margin-top: 30px;
}

.repo {
    background: var(--repo);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
     width: 50%;

}

.star {
    color: gold;
}